body{
    background-color: rgb(231, 231, 231);
}
nav{
    background-color: white;
}
#Title{
    font-family: 'Lora', serif;
    text-align: center;
    margin-top: 25px;
}
p{
    font-family: 'Ysabeau Infant', sans-serif;
    text-align: center;
    padding-top: 1px ;
}
.nav-item{
    font-family: 'Ysabeau Infant', sans-serif;
    float: right;
}
#ImagenNav{
    width: 70px;
    flex-grow: 1;
}